{% extends 'usuarios/base.html' %}
{% block aba %}
  Lançar Notas
{% endblock %}
{% block conteudo %}
  <div class="card mt-4 mb-5">
    <div class="card-body">
      <h3 class="card-title">Cadastrar Notas</h3>
      <p class="lead">Preencha todas as informações.</p>
      <hr />
      <form action="{% url 'lancar' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Nome:</label>
          <input type="text" class="form-control" value="{{ user.first_name }}" readonly />
        </div>
        <div class="mb-3">
          <label for="disciplinaName" class="form-label">Disciplina:</label>
          <input type="text" id="disciplinaName" name="disciplina" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="notaAtividades" class="form-label">Nota das atividades:</label>
          <input type="text" id="notaAtividades" name="nota_atividades" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="notaTrabalho" class="form-label">Nota do Trabalho:</label>
          <input type="text" id="notaTrabalho" name="nota_trabalho" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="notaProva" class="form-label">Nota da Prova:</label>
          <input type="text" id="notaProva" name="nota_prova" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Registrar Notas</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Voltar</a>
      </form>
    </div>
  </div>
{% endblock %}
